{
  "remote": [
    {"host": "这里填写worker的域名, 不需要加https:// 前缀, 在这个数组里面可以配置多个map", "code": "这里填写校验码, 需要跟js里面的一致"}
  ],
  "default_code": "默认的校验码, 如果remote项里面没有填写校验码, 则默认使用这个",
  "bind_host": "这里填写监听地址",
  "ca_data": {
    "key": "私钥文件",
    "cert": "证书文件"
  }
}